################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/ConsoleApplication1/bin/Debug
/ConsoleApplication1/obj/x86/Debug
/packages
